@{
    ViewBag.Title = "ABOUT US:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> TMZ Bookstore gets the name from the three developers that build the online bookstore. 
     They are Zainab Akubat, Tess Waldmann, and Morris Ballenger. 
     Our online bookstore is a great place for readers to buy their favorite books as well
     as browse other books ranging from diffrent genres and perspectives.
</p>
