@{
    ViewBag.Title = "CONTACT US FOR FURTHER INFORMATION";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TMZ Boulevard<br />
    Long Beach, California<br />
    <abbr title="Phone">P:</abbr>
    123.456.0100
</address>
<br />
<br />
<br />

<address>
    <strong>Support:</strong>   <a href="Tmzbookstore@tmz.net">Support@tmz.com</a><br />
    <strong>Marketing:</strong> <a href=""Tmzbookstore@tmz.com">Marketing@tmz.com</a><br />
    <strong>Shipment:</strong>  <a href="Tmzbooksstore@ship.com">Shipment@tmz.com</a>
</address>