@{
    ViewBag.Title = "ABOUT US:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">

        <div class="jumbotron">
            <br />
            <br />
            <h3><center>TMZ Bookstore is a one stop shop for all your booking needs</center></h3>
            <p>
                TMZ Bookstore gets the name from the three developers that build the online bookstore. They are Zainab Akubat, Tess Waldmann,
                and Morris Ballenger. Our online bookstore is a great place for readers to buy their favorite books as well as browse other
                books ranging from diffrent genres and perspectives.
            </p>

        </div>



    </div>
</div>
