@{
    ViewBag.Title = "Home Page ";
}

<br />
<br />

  


<div class="row">
    <div class="col-md-6">
        
        <div class="jumbotron">
            <br />
            <br />
            <h2>Best Books of 2016 | The New York Times</h2>
            <br />
            <img src="/Content/Images/BestSellers/thenorthwater.jpg" style="height="350px"; width="400px"; float: left;">
            <br />
            <img src="/Content/Images/BestSellers/inthedarkroom.jpg" style="height="350px"; width="400px"; float: left;">
            <br />
            <img src="/Content/Images/BestSellers/thevegetarian.jpg" style="height="350px"; width="400px" float: left;">
            <br />
            <img src="/Content/Images/BestSellers/warandturpentine.jpg"style=" height="350px"; width="400px"; float: left;">           
            <p style="clear:both;"></p>
        </div>

         
       
    </div>
</div>
