@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="jumbotron">
    <p class="lead"><center>TMZ Bookstore is a one stop shop for all your booking needs</center></p>
  
</div>

<div class="row">
    <div class="col-md-10">
        
        <p>
            TMZ Bookstore gets the name from the three developers that build the online bookstore. They are Zainab Akubat, Tess Waldmann,
            and Morris Ballenger. Our online bookstore is a great place for readers to buy their favorite books as well as browse other
            books ranging from diffrent genres and perspectives.
        </p>
    </div>
</div>